# Default for anything not covered by one of the more specific rules below
* @Daankrol @mpryahin @LenaRudaya @piotrgrubicki

# Backend
application/backend/ @mpryahin @LenaRudaya @michalad1 @piotrgrubicki
application/docker/Dockerfile @mpryahin @LenaRudaya @michalad1 @piotrgrubicki @sys-geti
application/backend/pyproject.toml @mpryahin @LenaRudaya @michalad1 @piotrgrubicki @sys-geti
application/backend/uv.lock @mpryahin @LenaRudaya @michalad1 @piotrgrubicki @sys-geti

# Frontend
application/ui/ @dwesolow @pplaskie @jpggvilaca @MarkRedeman @camiloHimura @ActiveChooN
application/ui/package.json @dwesolow @pplaskie @jpggvilaca @MarkRedeman @camiloHimura @ActiveChooN @sys-geti
application/ui/package-lock.json @dwesolow @pplaskie @jpggvilaca @MarkRedeman @camiloHimura @ActiveChooN @sys-geti
application/ui/src-tauri/Cargo.toml @dwesolow @pplaskie @jpggvilaca @MarkRedeman @camiloHimura @ActiveChooN @sys-geti
application/ui/src-tauri/Cargo.lock @dwesolow @pplaskie @jpggvilaca @MarkRedeman @camiloHimura @ActiveChooN @sys-geti

# Deploy
deploy/ @mpryahin @LenaRudaya @michalad1 @piotrgrubicki

# Docs
docs/ @Daankrol @mpryahin @LenaRudaya @eugene123tw @dwesolow @pplaskie @samet-akcay @rajeshgangireddy

# Lib
library/ @Daankrol @mpryahin @LenaRudaya @eugene123tw @samet-akcay @rajeshgangireddy
library/pyproject.toml @Daankrol @mpryahin @LenaRudaya @eugene123tw @samet-akcay @rajeshgangireddy @sys-geti
library/uv.lock @Daankrol @mpryahin @LenaRudaya @eugene123tw @samet-akcay @rajeshgangireddy @sys-geti

# CI and security
.github/actions/                        @open-edge-platform/geti-ci-maintain
.github/workflows/                      @open-edge-platform/geti-ci-maintain
.github/bandit_config.yml               @open-edge-platform/geti-ci-maintain
.github/renovate.json5                  @open-edge-platform/geti-ci-maintain
security.md                             @open-edge-platform/geti-ci-maintain
.semgrepignore                          @open-edge-platform/geti-ci-maintain
