.streamContainer {
    background-color: var(--spectrum-global-color-gray-200);
}

.playButton {
    padding: var(--spectrum-global-dimension-size-250) var(--spectrum-global-dimension-size-200);

    span[class*='spectrum-ActionButton-label'] {
        padding-inline-end: 0 !important;
    }
}
