# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-tauri/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# We clone our geti packages during the npm install phase
packages/

playwright-report/
test-results/

src/api/openapi-spec.json
src/api/openapi-spec.d.ts